.is-orange {
    background: #E67E22;
}

.is-gray {
    background: #6C7A89;
}

.is-green {
    background: #68C3A3;
}

.is-blue {
    background: #336E7B;
}

.is-dark-blue {
    background: #2c3e50;
}
