<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <input type="file" id="file-picker">
  <div id="crop-editor"></div>
</body>
</html>
